/*header*/
header {
    background-color: #ECECEC;


}

/*iconos superiores*/
.horizontal {
    display: inline-block;
    list-style: none;

}

nav {
    background-color: #ECECEC;

}

.logo-dos {
    color: #E6AF2E;
    font-weight: bolder;
    font-size: 2rem;
    font-family: "Bangers";
    text-align: justify;
    width: 100%;
}

.bot-nav {
    padding: 1rem 3rem 1rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
    border-bottom: #E6AF2E solid;

}


/*logo*/
.logo {
    color: #E6AF2E;
    font-weight: bolder;
    font-size: 5rem;
    font-family: "Bangers";
    text-align: justify;
    margin: 1rem 0 1rem 0;
    transform: translate(180px, -10px);
    position: absolute;
    animation-name: rotacion-logo;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;

}



@keyframes rotacion-logo {

    from {
        transform: rotateZ(0deg) translate(300px, -30px);
    }

    to {
        transform: rotateZ(360deg) translate(180px, -10px);
    }


}

.imagen-logo {
    max-width: 15rem;
    max-height: 20rem;
    transform: translate(-30px, -100px);

}

#marca {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
}

#iconos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

nav.row {
    background-color: #ECECEC;
}

/*hamburguesa*/

div.container-fluid.ham {
    max-width: 0px;
    max-height: 0px;
}

.navbar.bg-light {
    background-color: #ECECEC;

}

.btn-close {
    background-color: #E6AF2E;
}

.navbar {

    font-family: Kalam;
    font-size: 2rem;
    color: #E6AF2E;

}

.nav-link {
    font-family: Kalam;
    font-size: 2rem;
    color: #E6AF2E;
}

.navbar-toggler {
    background-color: #E6AF2E;
    transform: translateY(-60px);
}

.navbar-toggler-icon {
    background-color: #D75281;
}

.offcanvas-header {
    background-color: #ECECEC;
}

.dropdown-menu {
    border: #D75281 solid;
    background: linear-gradient(#D75281, #E6AF2E);
}

/*botones paginas*/

.botones-pag {
    color: #282F44;
    list-style: none;
    font-family: Kalam;
    font-size: 2rem;
    cursor: pointer;

    text-align: right;



}

.horizontal.botones {
    background: linear-gradient(#D75281, #E6AF2E);
    border: #D75281 2px solid;
    border-radius: 20px;
    padding: 5px;



}

.butt.container-fluid {
    margin-top: 2rem;
}

a {
    text-decoration: none;
}

.bloque-03 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.carrito {
    background-color: white;
    border: #E6AF2E solid;
    border-radius: 3rem;
    padding: 1rem 0 1rem 0;
    margin-right: 1rem;
    width: 15rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.cero {
    border: none;
    padding-left: 1rem;
    width: 5rem;
}

.qeb {
    width: 30rem;
    margin: 0 2rem 0 0;
    border-radius: 3rem;
    border: #E6AF2E 3px solid;

}

.navbar {
    visibility: hidden;

}

/*imagen index*/


.container-md.p-3 {

    padding: 1rem;
    width: 600px;
    height: 550px;
}

.carousel-item {

    list-style: none;
    font-family: Kalam;
    font-size: 2rem;

}

.calecita {
    background-color: #ECECEC;
    border: #E6AF2E 1rem solid;
    border-radius: 1rem;
    width: 800px;
    height: 1000px;
    /*z-index: 1;*/


}

.calecita img {
    max-height: 400px;
    aspect-ratio: 1/2;
    object-fit: scale-down;


}


.color {
    color: rgb(177, 174, 174);
    position: relative;
    /*transform: translateY(200px);*/
    /*z-index: 2;*/
}

.decoimgcarr {
    border: transparent solid;
    border-radius: 1rem;
}


/*bloque eventos*/
.eventos {
    max-width: auto;
    max-height: 7rem;
    padding: 0.5rem;


}

div.img-eventos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.video {
    max-width: 8rem;
    max-height: 8rem;
    padding: 1rem;

}

.map {
    max-width: 8rem;
    max-height: 8rem;
    padding: 1rem;

}



.acordeon {
    visibility: hidden;
    position: absolute;
    top: -9999px;

}

/*PIE DE PAG*/
.pie {
    background-color: #ECECEC;
    border-top: #E6AF2E solid;
    margin-top: 1rem;
    padding: 0 0 1rem 1rem;

}

.fa-solid.fa-envelope {
    padding-top: 1rem;
    color: #E6AF2E;
}

.color-predominante {
    border: #282F44 solid;
    background-color: #E6AF2E;
    border-style: double;
    width: 5rem;
    height: 3rem;
    margin: 0.5rem 0 0.5rem 0;
    font-family: kalam;
    font-size: 1rem;
}

.let-foot {
    font-size: 1rem;
}

.foot {
    border: #E6AF2E solid;
    border-radius: 2rem;
}

/*titulos*/
.predominante {
    color: #282F44;
    list-style: none;
    font-family: Kalam;
    font-size: 2rem;
    text-align: center;

}

.listas-01 {
    text-align: left;
}

.predominante.art {
    font-family: Kalam;
    font-size: 2rem;
    color: #282F44;

}


h2.predominante.bloques {
    border-bottom: #E6AF2E solid;
    font-size: 3rem;

}

/*proximos eventos*/
.bloques-de-art {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.art-01 {
    width: 32%;
    border: #D75281 solid;
    border-radius: 2rem;
    background: linear-gradient(#D75281, #E6AF2E);
}

.tit-ev {
    padding: 1rem 0 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*nosotros*/
#nosotros {
    border: #D75281 solid;
    border-radius: 2rem;
    background: linear-gradient(#D75281, #E6AF2E);

}

.info-evento {
    padding: 1rem 2rem 1rem 2rem;
    margin-right: 0;
    font-size: 1rem;
    font-family: "kalam";
    text-align: center;

}

.fotos-nosotros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;


}

.familia {
    max-width: auto;
    max-height: 20rem;
    border: transparent solid;
    border-radius: 2rem;
    margin: 2rem;
}

/*html contactenos*/

.logo-tres {
    color: #E6AF2E;
    font-weight: bolder;
    font-size: 5rem;
    font-family: "Bangers";
    text-align: justify;
    margin: 1rem 0 1rem 0;
    text-align: center;


}

.fou {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;


}

.fbg {
    background-image: url(../img/logothora-removebg-preview.png);
    resize: both;
    overflow: auto;
    background-repeat: space;
    background-position: center;
    background-size: 30rem 40rem;
    /*opacity: 1;*/


}

#encabezado-contacto {
    margin: 2rem 8rem 0 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.form-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem 2rem 2rem 3rem;
}

.form-cont-02 {
    border: #D75281 solid;
    border-radius: 2rem;
    background: linear-gradient(#D75281, #E6AF2E);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.cuadradito {
    border: #D75281 solid;
    border-radius: 2rem;
}

.map.contact {
    max-width: 15rem;
    max-height: 15rem;
    border: white solid;
    padding: 1rem;

}



/*recuadro filtro*/

.filtrar {
    border: #D75281 solid;
    border-radius: 2rem;
    width: 25%;
    height: 60%;
    background: linear-gradient(#D75281, #E6AF2E);
    padding: 1rem;
    margin: 1rem;

}

.tit-fil {
    font-family: Kalam;
    font-size: 2rem;
    color: #282F44;
}

/*imagenes de los productos*/

.recuadro-prod {
    max-width: 15rem;
    max-height: 15rem;
    margin: 2rem;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    border: transparent solid;
    border-radius: 1rem;
    transform: translateX(8px);


}

.recuadro-prod:hover {
    transform: scale(2);
}



.productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "prod01 prod02 prod03 prod04"
        "prod05 prod06 prod07 prod08"
        "prod09 prod10 prod11 prod12"
        "prod13 prod14 prod15 prod16"
    ;
    grid-column-gap: 5px;
    grid-row-gap: 1rem;


}

.prod01 {
    grid-area: prod01;
}

.prod02 {
    grid-area: prod02;
}

.prod03 {
    grid-area: prod03;
}

.prod04 {
    grid-area: prod04;
}

.prod05 {
    grid-area: prod05;
}

.prod06 {
    grid-area: prod06;
}

.prod07 {
    grid-area: prod07;
}

.prod08 {
    grid-area: prod08;
}

.prod09 {
    grid-area: prod09;
}

.prod10 {
    grid-area: prod10;
}

.prod11 {
    grid-area: prod11;
}

.prod12 {
    grid-area: prod12;
}

.prod13 {
    grid-area: prod13;
}

.prod14 {
    grid-area: prod14;
}

.prod15 {
    grid-area: prod15;
}

.prod16 {
    grid-area: prod16;
}



.agrupar {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 2rem;
}

/*texto productos*/
.nom-prec {
    color: #282F44;
    font-family: Kalam;
    font-size: 1rem;

}

.centrar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border: #E6AF2E solid;
    border-radius: 1rem;
    margin-bottom: 1rem;
    width: 20rem;
    height: 30rem;
}

/*media queries*/

@media screen and (max-width: 1600px) {

    /*pagina principal*/

    .bloques-de-art {

        flex-direction: column;

    }

    .art-01 {
        align-items: stretch;
        width: 100%;

    }

    .bloque-03 {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }

    #iconos {

        justify-content: center;
    }

    .qeb {
        width: 20rem;

    }

    .botones-pag {
        font-size: 1rem;
        margin-right: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;



    }

    .horizontal.botones {
        background: linear-gradient(#D75281, #E6AF2E);
        border: #D75281 2px solid;
        border-radius: 20px;
        padding: 5px;



    }

    .fotos-ind img {
        max-height: 10rem;

    }

    .familia {
        max-height: 8rem;
        margin: 1rem;
        border: transparent solid;
        border-radius: 2rem;
    }

    /*contactenos*/

    .logo.dos {
        width: 30%;
    }

    /*paginas secundarias*/

    .productos {
        grid-template-areas:
            "prod01 prod02 prod03"
            "prod04 prod05 prod06"
            "prod07 prod08 prod09"
            "prod10 prod11 prod12"
            "prod13 prod14 prod15"
            "prod16 . ."

        ;
    }

    .centrar {
        width: 15rem;
        height: 23rem;
    }


    .recuadro-prod {
        max-width: 10rem;
        max-height: 10rem;
        margin: 2rem;
        cursor: pointer;
        border: transparent solid;
        border-radius: 1rem;


    }

    .nom-prec {
        color: #282F44;
        font-family: Kalam;
        font-size: 0.9rem;
    }


}


@media screen and (max-width: 1100px) {

    #pie {
        margin: 0.5rem 0 0 0;
    }

    /*pagina principal*/

    .art-01 {
        margin: 0.5rem 0 0.5rem 0;
    }

    .bloques-de-art {
        margin: 0.5rem;
    }

    .navbar {
        visibility: visible;
    }

    .butt {
        visibility: hidden;
        position: absolute;
        top: -9999px;
    }

    div.carrito {
        max-width: 10rem;


    }

    .imagen-logo {
        max-width: 10rem;
        max-height: 15rem;
        transform: translate(-20px, -50px);
    }

    .logo {
        font-size: 3rem;
        transform: translate(120px, 20px);



    }

    @keyframes rotacion-logo {

        from {
            transform: rotateZ(0deg) translate(300px, -30px);
        }

        to {
            transform: rotateZ(360deg) translate(120px, 20px);
        }
    }

    /*contactenos*/

    #encabezado-contacto {
        margin: 0;
        transform: translateX(5px);

    }

    .form-cont {

        justify-content: center;
        align-items: flex-start;
        padding: 1rem 1rem 1rem 1rem;
    }

    .form-cont-02 {

        padding: 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .fmi {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .fou {

        flex-direction: column;

    }

    /*paginas secundarias*/

    .centrar {
        width: 14rem;
        height: 19rem;
        margin-bottom: 0.2rem;
    }

    .recuadro-prod {
        max-width: 7rem;
        max-height: 7rem;
        margin: 2rem;


    }

    .nom-prec {
        color: #282F44;
        font-family: Kalam;
        font-size: 0.7rem;
    }

    .productos {
        grid-column-gap: 0.5rem;
        grid-row-gap: 0.5rem;
    }

    .filtrar {
        width: 20%;
        visibility: hidden;
        position: absolute;
        left: -9999px;
    }

    .listas-01 {
        text-align: left;
        font-size: 0.8rem;
    }

    .tit-fil {
        font-family: Kalam;
        font-size: 1rem;
        color: #282F44;
    }

    .botones-pag {
        font-size: 1rem;
        margin-right: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;


    }

    .bloque-03 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

}


@media screen and (max-width:768px) {

    .productos {
        /* grid-template-rows: 1fr 1fr; */
        grid-template-areas:
            "prod01 prod02"
            "prod03 prod04"
            "prod05 prod06"
            "prod07 prod08"
            "prod09 prod10"
            "prod11 prod12"
            "prod13 prod14"
            "prod15 prod16"
        ;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 2rem;
        grid-column-gap: 30px;

    }

    .centrar {
        margin-bottom: 2rem;
        width: 20rem;
        height: 30rem;
    }

    .recuadro-prod {
        max-width: 15rem;
        max-height: 15rem;

    }
}

@media screen and (max-width: 700px) {

    .productos {
        grid-template-areas:
            "prod01"
            "prod02"
            "prod03"
            "prod04"
            "prod05"
            "prod06"
            "prod07"
            "prod08"
            "prod09"
            "prod10"
            "prod11"
            "prod12"
            "prod13"
            "prod14"
            "prod15"
            "prod16"
        ;
    }

    .container-md.p-3 {

        width: 300px;
        height: 500px
    }


}

@media screen and (max-width: 425px) {

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    /*pagina principal*/

    #iconos {
        justify-content: center;
        align-content: center;
        transform: translateX(-4 0px);
    }

    .imagen-logo {
        transform: translate(-20px, -20px);
    }

    .logo {

        font-size: 3rem;

        text-align: justify;
        margin: 1rem 0 1rem 0;
        transform: translate(-40px, 60px);
    }

    .bloque-03 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .qeb {
        margin: 0 2rem 1rem 2rem;
    }

    .carrito {
        margin: 0 1rem 0 1rem;

    }

    .navbar {
        visibility: visible;
    }

    .butt {
        visibility: hidden;
        position: absolute;
        top: -9999px;
    }

    .foot {
        width: 5px;
    }

    /*bloque de eventos*/

    h2.predominante.bloques {

        font-size: 2rem;

    }

    .predominante.art {
        font-size: 1rem;


    }

    .predominante {
        font-size: 1rem;
    }

    .tit-ev {
        padding: 1rem 0 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .info-evento {
        padding: 0rem 1rem 0rem 1rem;
        margin-right: 0;
        font-size: 1rem;
        font-family: "kalam";
        text-align: center;

    }

    .acordeon {
        visibility: visible;
        position: relative;
        top: 0;
    }

    .bloques-de-art {
        visibility: hidden;
        position: absolute;
        top: -9999px;

    }

    /*nosotros*/

    .familia {
        max-height: 5rem;
    }

    /*footer*/


}