.recuadros01, section .recuadros02, div .recuadros03 {
  background: linear-gradient(#D75281, #E6AF2E);
  font-family: kalam;
  border-radius: 2rem;
  border: solid #d75281;
  padding: 5px; }

header {
  font-family: kalam;
  color: #282F44;
  background-color: #ececec; }
  header h1 {
    color: #E6AF2E;
    font-weight: bolder;
    font-size: 5rem;
    font-family: Bangers;
    text-align: justify;
    margin: 1rem 0 1rem 0;
    transform: translate(180px, -10px);
    position: absolute;
    animation-name: rotacion-logo;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; }
  header div .imagen-logo {
    max-width: 15rem;
    max-height: 20rem;
    transform: translate(-30px, -100px); }
  header div ul {
    display: inline-block;
    list-style: none;
    padding: 1rem 3rem 1rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem; }

.bot-nav {
  border-bottom: #E6AF2E solid;
  margin-left: auto;
  width: 15rem; }

a {
  text-decoration: none; }

nav ul {
  color: #282F44;
  font-family: kalam;
  font-size: 2rem;
  cursor: pointer;
  text-align: right; }

@keyframes rotacion-logo {
  from {
    transform: rotateZ(0deg) translate(300px, -30px); }
  to {
    transform: rotateZ(360deg) translate(180px, -10px); } }

div .carrito {
  background-color: #eee1c5;
  border: #E6AF2E solid;
  border-radius: 3rem;
  padding: 1rem;
  margin: 1rem;
  width: 15rem; }
  div .carrito #inputSearch {
    border: none;
    padding-left: 1rem;
    width: 5rem;
    background-color: #eee1c5; }

div .busqueda {
  width: 30rem;
  margin: 0 2rem 0 0;
  border-radius: 3rem;
  border: #E6AF2E 3px solid;
  background-color: #eee1c5; }

/*hamburguesa*/
.navbar {
  visibility: hidden; }

div .nav-deco {
  font-family: kalam;
  font-size: 2rem;
  color: #E6AF2E; }

div .bg-light {
  background-color: #ececec; }

div .btn-close {
  background-color: #E6AF2E; }

div .navbar-toggler {
  background-color: #E6AF2E;
  transform: translateY(-60px); }

div .navbar-toggler-icon {
  background-color: #D75281; }

div .offcanvas-header {
  background-color: #ececec; }

div .dropdown-menu {
  border: solid #d75281;
  background: linear-gradient(#D75281, #E6AF2E); }

div .container-fluid.ham {
  max-width: 0px;
  max-height: 0px; }

.titulos-01 {
  color: #282F44;
  font-family: kalam;
  border-bottom: #E6AF2E solid;
  font-size: 3rem;
  text-align: center;
  text-decoration: none; }

.titulos-02 {
  color: #282F44;
  font-family: kalam;
  font-size: 2rem;
  text-align: right;
  text-decoration: double; }

.titulos-03 {
  color: #282F44;
  font-family: kalam;
  font-size: 2rem;
  text-align: right;
  text-decoration: double; }

.titulos-04 {
  color: #282F44;
  font-family: kalam;
  font-size: 1rem;
  text-align: auto;
  text-decoration: none; }

main .container-md.p-3 {
  padding: 1rem;
  width: 600px;
  height: 550px; }

main .carousel-item {
  list-style: none;
  font-family: kalam;
  font-size: 2rem; }

main .calecita {
  background-color: #ECECEC;
  border: #E6AF2E 1rem solid;
  border-radius: 1rem;
  width: 800px;
  height: 1000px;
  cursor: pointer; }
  main .calecita img {
    max-height: 400px;
    aspect-ratio: 1/2;
    object-fit: scale-down; }

main .color {
  color: #282F44;
  background-color: #eee1c5;
  position: relative; }

.eventos {
  max-width: auto;
  max-height: 7rem;
  padding: 0.5rem; }

.map {
  max-width: 8rem;
  max-height: 8rem;
  padding: 1rem; }

.video {
  max-width: 8rem;
  max-height: 8rem;
  padding: 1rem; }

.acordeon {
  visibility: hidden;
  position: absolute;
  top: -9999px; }

section {
  height: 100%; }
  section .recuadros02 {
    width: 32%; }

div .fotos-instagram {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

div .fotos-nos {
  max-width: auto;
  max-height: 20rem;
  border: transparent solid;
  border-radius: 2rem;
  margin: 2rem; }

footer {
  background-color: #ececec;
  border-top: #E6AF2E solid;
  margin-top: 1rem;
  padding: 0 0 1rem 1rem; }
  footer .fa-solid.fa-envelope {
    padding-top: 1rem;
    color: #E6AF2E; }
  footer .boton-enviar {
    border: #282F44 solid;
    background-color: #E6AF2E;
    border-style: double;
    width: 5rem;
    height: 3rem;
    margin: 0.5rem 0 0.5rem 0;
    font-family: kalam;
    font-size: 1rem; }
  footer .let-foot {
    font-size: 1rem; }
  footer .foot {
    border: #E6AF2E solid;
    border-radius: 2rem;
    background-color: #eee1c5; }
