footer {
    background-color: $color-fondo;
    border-top: $subrayado;
    margin-top: 1rem;
    padding: 0 0 1rem 1rem;

    .fa-solid.fa-envelope {
        padding-top: 1rem;
        color: $color-principal;
    }

}

div {
    .boton-enviar {
        border: $texto solid;
        background-color: $color-principal;
        border-style: double;
        width: $tamaño/2;
        height: 3rem;
        margin: 0.5rem;
        font-family: $fuente-gral;
        font-size: 1rem;


    }

    .let-foot {
        font-size: 1rem;
    }

    .foot {
        border: $color-principal solid;
        border-radius: 2rem;
        background-color: rgb(238, 225, 197);
    }

}

.boton-enviar:hover{
background: #d75281;
}