header {
    font-family: $fuente-gral;
    color: $texto;
    background-color: $color-fondo;

    h1 {
        color: $color-principal;
        font-family: $fuente-logo;
        font-size: 5rem;
        text-align: justify;
        margin: 1rem 0 1rem 0;
        transform: translate(180px, -10px);
        position: absolute;
        animation-name: rotacion-logo;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
    }

    h2 {
        .logo-pequeño {
            color: $color-principal;
            font-family: $fuente-logo;
            font-size: 2rem;
        }

    }



    div {

        .recuadros01 {
            @extend .recuadros00;
        }

        .imagen-logo {
            max-width: $tamaño+5;
            max-height: $tamaño*2;
            transform: translate(-30px, -100px);

        }
    }

    div {
        ul {
            display: inline-block;
            list-style: none;
            padding: 1rem 3rem 1rem 3rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 2rem;
            


        }
    }

    .logo-pequeño {
        font-family: $fuente-logo;
        color: $color-principal;
        font-size: 2rem;
        text-align: justify;
    }

}

.bot-nav {
    border-bottom: $subrayado;
    margin-left: auto;
    width: $tamaño+5;

}

a {
    text-decoration: none;
}

nav {
    ul {
        color: $texto;
        font-family: $fuente-gral;
        font-size: 2rem;
        cursor: pointer;
        text-align: right;


    }
}



@keyframes rotacion-logo {

    from {
        transform: rotateZ(0deg) translate(300px, -30px);
    }

    to {
        transform: rotateZ(360deg) translate(180px, -10px);
    }


}

div {


    .carrito {
        background-color: rgb(238, 225, 197);
        border: $color-principal solid;
        border-radius: 3rem;
        padding: 1rem;
        margin: 1rem;
        width: 15rem;

        #inputSearch {
            border: none;
            padding-left: 1rem;
            width: $tamaño/2;
            background-color: rgb(238, 225, 197);
        }
    }

    .busqueda {
        width: $tamaño*3;
        margin: 0 2rem 0 0;
        border-radius: 3rem;
        border: $color-principal 3px solid;
        background-color: rgb(238, 225, 197);
    }
}

/*hamburguesa*/

.navbar {
    visibility: hidden;

}

div {


    .nav-deco {
        font-family: $fuente-gral;
        font-size: 2rem;
        color: $color-principal;

    }

    .bg-light {
        background-color: $color-fondo;

    }

    .btn-close {
        background-color: $color-principal;
    }


    .navbar-toggler {
        background-color: $color-principal;
        transform: translateY(-28px);
    }

    .navbar-toggler-icon {
        background-color: #D75281;
    }

    .offcanvas-header {
        background-color: $color-fondo;
    }

    .dropdown-menu {
        border: $border;
        background: linear-gradient($degrade);
    }


}