.titulo-02 {
    color: $texto;
    font-family: $fuente-gral;
    @include tipografia(1rem, left);
    font-size: rfs-fluid-value(1rem);
}




div {
    .titulos-03 {
        color: $texto;
        font-family: $fuente-gral;


        @include tipografia(2rem, left);
    }

    .titulos-04 {
        color: $texto;
        font-family: $fuente-gral;

        @include tipografia(1rem, center);

    }
}



div {
    .recuadros03 {
        @extend .recuadros00;
    }

    .fotos-instagram {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;


    }

    .fotos-nos {
        max-width: auto;
        max-height: $tamaño*2;
        border: transparent solid;
        border-radius: 2rem;
        margin: 2rem;
    }

    .lista-productos {
        list-style: none;
    }

    .descripcion-producto {
        color: $texto;
        font-family: $fuente-gral;
        font-size: 1rem;
        
    }

    .eventos {
        @include size(auto, 7rem, 0.5rem);
    }

    .map {
        @include size(8rem, 8rem, 1rem);
    }

    .video {
        @include size(8rem, 8rem, 1rem);
    }

    .accordion-body {
        background-color: $color-fondo;
    }
}

.acordeon {
    visibility: hidden;
    position: absolute;
    top: -9999px;

}

section {


    .recuadros02 {
        @extend .recuadros00;
        width: 32%;

    }

    .recuadros04 {
        @extend .recuadros00;
        width: 20%;
        height: 60%;
        margin: 1rem;
    }



    .recuadros05 {
        @extend .recuadros00;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .productos-img {
        max-width: $tamaño+5;
        max-height: $tamaño+5;
        margin: 2rem;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
        cursor: pointer;
        border: transparent solid;
        border-radius: 1rem;
        




    }

    .distrib-elementos {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        text-align: center;
        border: $border;
        border-radius: 1rem;
        margin-bottom: 1rem;
        width: $tamaño*2;
        height: $tamaño*3;
        
        
    }

    .formulario {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        padding: 2rem 2rem 2rem 3rem;
    }


}


.productos-img:hover {
    transform: scale(2);

}

.accordion-button {
    background: linear-gradient($degrade);
}

main {
    .titulos-01 {
        color: $texto;
        font-family: $fuente-gral;
        border-bottom: $subrayado;

        @include tipografia(3rem, center);
    }

    .container-md.p-3 {

        padding: 1rem;
        width: 600px;
        height: 550px;
    }

    .carousel-item {

        list-style: none;
        font-family: $fuente-gral;
        font-size: 2rem;

    }

    .calecita {
        background-color: #ECECEC;
        border: $color-principal 1rem solid;
        border-radius: 1rem;
        width: 800px;
        height: 1000px;
        cursor: pointer;
        



        img {
            max-height: 400px;
            aspect-ratio: 1/2;
            object-fit: scale-down;

        }


    }

    .color {
        color: $texto;
        background-color: rgba(238, 225, 197, 0.7);

        position: relative;

    }

    .agrupacion-recuadros {

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding-left: 2rem;
    }

    .img-fondo {
        background-image: url(../img/logothora-removebg-preview.png);
        resize: both;
        overflow: auto;
        background-repeat: space;
        background-position: center;
        background-size: 30rem 40rem;
    }

    .productos {
        display: grid;
        flex-direction: row;
        flex-wrap: wrap;        
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "prod01 prod02 prod03 prod04"
            "prod05 prod06 prod07 prod08"
            "prod09 prod10 prod11 prod12"
            "prod13 prod14 prod15 prod16"
        ;
        grid-column-gap: 80px;
        grid-row-gap: 1rem;
        

    }

    .prod01 {
        grid-area: prod01;
    }

    .prod02 {
        grid-area: prod02;
    }

    .prod03 {
        grid-area: prod03;
    }

    .prod04 {
        grid-area: prod04;
    }

    .prod05 {
        grid-area: prod05;
    }

    .prod06 {
        grid-area: prod06;
    }

    .prod07 {
        grid-area: prod07;
    }

    .prod08 {
        grid-area: prod08;
    }

    .prod09 {
        grid-area: prod09;
    }

    .prod10 {
        grid-area: prod10;
    }

    .prod11 {
        grid-area: prod11;
    }

    .prod12 {
        grid-area: prod12;
    }

    .prod13 {
        grid-area: prod13;
    }

    .prod14 {
        grid-area: prod14;
    }

    .prod15 {
        grid-area: prod15;
    }

    .prod16 {
        grid-area: prod16;
    }

    .titulo-contacto {
        color: $color-principal;
        font-weight: bolder;
        font-size: 5rem;
        font-family: $fuente-logo;
        text-align: justify;
        margin: 1rem 0 1rem 0;
        text-align: center;
    }
}