$degrade: (#D75281, #E6AF2E);
$fuente-gral: kalam;
$fuente-logo: Bangers;
$texto: #282F44;
$border: solid #d75281;
$color-fondo: #ececec;
$color-principal: #E6AF2E;
$color-descripcion: rgba(238, 225, 197, 0.7);
$subrayado: #E6AF2E solid;
$tamaño: 10rem;


@mixin tipografia ($font-size, $text-align) {
    font-size: $font-size;
    text-align: $text-align;

}

@mixin size ($max-width, $max-height, $padding) {
    max-width: $max-width;
    max-height: $max-height;
    padding: $padding;
}



.recuadros00 {
    background: linear-gradient($degrade);
    font-family: $fuente-gral;
    border-radius: 2rem;
    border: $border;
    padding: 5px;
    box-shadow: 8px 10px 10px 1px rgba(0,0,0,0.5);
}